* {
    margin: 0;
    font-family: 'Work Sans';
    padding: 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    padding: 10px;
}

.items {
    display: flex;
}

.item {
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
    list-style-type: none;
    margin-right: 20px;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: url('../images/banner/banner1.png');
    display: flex;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    position: absolute;
    width: 525px;
    height: 228px;
    left: 845px;
    top: 216px;
    color: #151414;
    text-align: right;
}

.banner-discription {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    position: absolute;
    width: 494px;
    height: 78px;
    left: 876px;
    top: 468px;
    text-align: right;
}

.btn-primary {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 15px;
    background: #FD6E0A;
    border-radius: 5px;
    border: 0;
    padding: 18px 35px;
    position: absolute;
    width: 160px;
    height: 64px;
    left: 1210px;
    top: 578px;
}

.text-primary {
    color: #FD6E0A;
}

.profile-pic {
    position: absolute;
    width: 569px;
    height: 100vh;
    left: 50px;
    top: 939px;
    padding-left: 206px;
}

.profile-section {
    display: flex;
    width: 100%;
    height: 400px;
    left: 862px;
    top: 1000px;
    height: 100vh;
    background-color: #d5cdc7;
}

.profile-discription {
    position: absolute;
    width: 416px;
    height: 400px;
    left: 862px;
    top: 1000px;
    color: #444343;
}

.profile-pic {
    width: 400px;
    height: 400px;
}

.profile-section h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;

}

.profile-section p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

.profile-section ul {
    list-style: none;
}

.profile-section ul li:before {
    content: '✓';
}

.My-plans {
    width: 100%;
    height: 100vh;
    left: 230px;

}

.skills-container {
    display: flex;
    gap: 86px;
    margin-left: 230px;
    margin-right: 230px;
    justify-content: space-between;

}

.section-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    margin-bottom: 58px;
}

.skill-title {
    line-height: 27px;
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 16px;
    text-align: center;
}

.skill-description {
    text-align: center;
}

.gradiant-banner {
    width: 80%;
    height: 50vh;


    text-align: left;
    margin: 20px;
    background-color: red;
    background-image: url('./images/watch.png'), linear-gradient(to right, red, yellow);
}

.gradiant-banner-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    padding-top: 50px;

    color: #FFFFFF;
}

.btn-primary-grad {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 15px;
    background: #c6bdb7;
    border-radius: 5px;
    border: 0;
    padding: 18px 35px;
    width: 160px;
    height: 50px;
    margin-left: 50px;
    margin-top: 200px;
}

/* .contact styles */
.contact {
    display: flex;
    gap: 100px;
    background: #13100e;
    padding: 130px 200px;
}

.contact.section-title {
    text-align: left;
    font-weight: 700;
    font-size: 35px;
}

.contact.section-discription {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.contact input {
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}

.contact-item {
    color: #d5cdc7;


}

.subscrirbe {
    color: #d5cdc7;
}

.contact-email {
    padding-top: 20px;
}

.contact-ph {
    padding-top: 20px;
}

.media {
    padding-top: 20px;
}

.btn-primary-footer {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 15px;
    background: #e9650d;
    border-radius: 5px;
    border: 0;
    padding: 18px 35px;
    width: 160px;
    height: 50px;
    margin-left: 50px;

}