html, body {
    max-height: 100%;
    max-width: 100%;
}
* {
    margin: 0;
    font-family: 'Work Sans';
}

.text-primary {
    color: #FD6E0A;
}



.btn-primary {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 15px;

    background: #FD6E0A;
    border-radius: 5px;
    border: 0;
    padding: 18px 35px;
    position: absolute;
    width: 160px;
    height: 64px;
    left: 1210px;
    top: 578px;

}

/* headeer and navijgatijon styles */

nav {
    background: #0ae1fd;
    color: #000;
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
    font-weight: 700;
    width: fit-content;
    
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

banner style .banner {
    display: flex;
    align-items: center;
    margin: 0 200px;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    position: absolute;
    width: 525px;
    height: 228px;
    left: 845px;
    top: 216px;
    color: #151414;
    text-align: right;

}



.banner-discription {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    position: absolute;
    width: 494px;
    height: 78px;
    left: 876px;
    top: 468px;
    text-align: right;
}
.profile-pic{
    position: absolute;
width: 569px;
height: 723.3px;
left: 50px;
top: 939px;
padding-left: 206px;
}
.profile-section{
    display: flex;
    width: 416px;
    height: 400px;
    left: 862px;
    top: 1178px;
}
.profile-discription{
    position: absolute;
    width: 416px;
    height: 400px;
    left: 862px;
    top: 1000px;
    color: #444343;
}
.profile-pic{
    width: 400px;
    height: 400px;
    /* background-color: rgb(215, 176, 148); */
    
}
.profile-section h2{
    font-weight: 700;
font-size: 40px;
line-height: 47px;
color: #151414;

}
.profile-section p{
    font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #444343;
}
.profile-section ul {
    list-style: none;
  }
  
  .profile-section ul li:before {
    content: '✓';
  }

  .skills-container {
    display: flex;
    gap: 86px;
    margin-left: 230px;
}
.My-plans{
    position: absolute;
    width: 1141px;
    height: 299.96px;
    left: 230px;
    top: 1400px;
}
.section-title{
    font-weight: 700;
    font-size: 30px;
    line-height: 47px;
    text-align: center;
    margin-bottom: 58px;
}
.skill-title {
    line-height: 27px;
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    

line-height: 16px;
text-align: center;
}
.banner-gradiant{
    /* position: absolute;
    width: 1140px;
    height: 250px;
    left: 230px;
    right:230px;
    top: 1800px; */
    position: absolute;
width: 459px;
height: 182px;
left: 294px;
top: 1800px;

}
.banner-gradiant-discription{
    
font-weight: 700;
font-size: 40px;
line-height: 47px;

color: #171313;
position: absolute;
width: 459px;
height: 94px;
left: 60px;
top: -100px;
}
.banner-gradiant.gradiant-image{
    background-image: linear-gradient(orange, white);
}
.footer-section{
    display: flex;
    position: absolute;
width: 1600px;
height: 300px;
left: 0px;
top: 2200px;

background: #151414;


padding: 230px;
color: #FFFFFF;
}
.footer.section-title-1{
    font-weight: 600;
font-size: 25px;
line-height: 29px;

color: #FFFFFF;

}
.footer.section-title-2{
    position: absolute;
width: 325px;
height: 204px;
left: 1046px;
top: 2782.26px;

}
.footer.footer-description{
    padding: 230px;
}



